---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutContent from "../components/AboutContent.jsx";
import SocialIcon from "../components/SocialIcons.jsx";
import "../styles/about.scss";

const title = "芳踪浅影";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="/gerrenxingxiangzhao.ico" />
  </head>
  <body>
    <BaseLayout />

    <AboutContent />

    <SocialIcon />
  </body>
</html>
