---
import Home from "../components/home.jsx";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="container" style="padding: 2rem 0;">
  <body
    style="margin:0; background:#e0e7ff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
  >
    <Home client:load />
  </body>
</BaseLayout>
